In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as snd

In [36]:
zomato=pd.read_csv('zomato.csv')
zomato.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [37]:
zomato.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [38]:
zomato.drop(['Restaurant ID','Country Code','Longitude','Latitude','Locality Verbose','Switch to order menu','Rating color'],axis=1,inplace=True)

In [39]:
zomato.shape

(9551, 14)

In [40]:
### Duplicate Sum
zomato.duplicated().sum()

0

In [41]:
### check for null value
zomato.isnull().sum()

Restaurant Name         0
City                    0
Address                 0
Locality                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Price range             0
Aggregate rating        0
Rating text             0
Votes                   0
dtype: int64

In [42]:
### remove null value 
zomato.dropna(how='any',inplace=True)
zomato.shape

(9542, 14)

In [43]:
zomato.columns

Index(['Restaurant Name', 'City', 'Address', 'Locality', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Price range',
       'Aggregate rating', 'Rating text', 'Votes'],
      dtype='object')

In [45]:
zomato.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9542 entries, 0 to 9550
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant Name       9542 non-null   object
 1   City                  9542 non-null   object
 2   Address               9542 non-null   object
 3   Locality              9542 non-null   object
 4   Cuisines              9542 non-null   object
 5   Average Cost for two  9542 non-null   int64
 6   Currency              9542 non-null   object
 7   Has Table booking     9542 non-null   object
 8   Has Online delivery   9542 non-null   object
 9   Is delivering now     9542 non-null   object
 10  Price range           9542 non-null   int64
 11  Aggregate rating      9542 non-null   float64
 12  Rating text           9542 non-null   object
 13  Votes                 9542 non-null   int64
dtypes: float64(1), int64(3), object(10)
memory usage: 1.1+ MB

In [50]:
zomato['Average Cost for two'].value_counts()

500       900
300       897
400       857
200       687
600       652
         ...
500000      1
1540        1
125         1
445         1
535         1
Name: Average Cost for two, Length: 140, dtype: int64

In [52]:
zomato['Average Cost for two'].describe()

count      9542.000000
mean       1200.326137
std       16128.743876
min           0.000000
25%         250.000000
50%         400.000000
75%         700.000000
max      800000.000000
Name: Average Cost for two, dtype: float64

In [55]:
### move to next integer value that is rating
### check unique values
zomato['Aggregate rating'].unique()

array([4.8, 4.5, 4.4, 4.9, 4. , 4.2, 4.3, 3.6, 4.7, 3. , 3.8, 3.7, 3.2,
       3.1, 0. , 4.1, 3.3, 4.6, 3.9, 3.4, 3.5, 2.2, 2.9, 2.4, 2.6, 2.8,
       2.1, 2.7, 2.5, 1.8, 2. , 2.3, 1.9])

In [54]:
zomato['Aggregate rating'].describe()

count    9542.000000
mean        2.665238
std         1.516588
min         0.000000
25%         2.500000
50%         3.200000
75%         3.700000
max         4.900000
Name: Aggregate rating, dtype: float64

In [57]:
zomato['Votes'].describe()

count     9542.000000
mean       156.772060
std        430.203324
min          0.000000
25%          5.000000
50%         31.000000
75%        130.000000
max      10934.000000
Name: Votes, dtype: float64

In [61]:
zomato['Has Online delivery'].head()
zomato['Has Online delivery'].value_counts()

No     7091
Yes    2451
Name: Has Online delivery, dtype: int64

In [65]:
###convert yes to True and No to false
zomato['Has Online delivery'].replace(('yes','No'),(True,False),inplace=True)
zomato['Has Table booking'].replace(('yes','No'),(True,False),inplace=True)

In [66]:
zomato.head()

,Restaurant Name,City,Address,Locality,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Rating text,Votes
0,Le Petit Souffle,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","French, Japanese, Desserts",1100,Botswana Pula(P),Yes,False,No,3,4.8,Excellent,314
1,Izakaya Kikufuji,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City",Japanese,1200,Botswana Pula(P),Yes,False,No,3,4.5,Excellent,591
2,Heat - Edsa Shangri-La,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Seafood, Asian, Filipino, Indian",4000,Botswana Pula(P),Yes,False,No,4,4.4,Very Good,270
3,Ooma,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","Japanese, Sushi",1500,Botswana Pula(P),False,False,No,4,4.9,Excellent,365
4,Sambo Kojin,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","Japanese, Korean",1500,Botswana Pula(P),Yes,False,No,4,4.8,Excellent,229

In [88]:
def encde(zo):
    for col in zo.columns[~zo.columns.isin(['Aggregate rating','Average Cost for two','Votes'])]:
        zo[col]=zo[col].factorize()[0]
    return zo  
zomato_encode=encde(zomato.copy())    
zomato_encode

,Restaurant Name,City,Address,Locality,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Aggregate rating,Rating text,Votes
0,0,0,0,0,0,1100,0,0,0,0,0,4.8,0,314
1,1,0,1,1,1,1200,0,0,0,0,0,4.5,0,591
2,2,1,2,2,2,4000,0,0,0,0,1,4.4,1,270
3,3,1,3,3,3,1500,0,1,0,0,1,4.9,0,365
4,4,1,4,3,4,1500,0,0,0,0,1,4.8,0,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,7432,139,8905,1202,943,80,11,1,0,0,0,4.1,1,788
9547,7433,139,8906,1203,1823,105,11,1,0,0,0,4.2,1,1034
9548,7434,139,8907,1204,1824,170,11,1,0,0,1,3.7,2,661
9549,7435,139,8908,1204,1820,120,11,1,0,0,1,4.0,1,901
9550,7436,139,8909,1205,20,55,11,1,0,0,2,4.0,1,591

In [69]:
zomato_encode.corr

(array([ 0,  1,  2, -1,  3], dtype=int64),
 Index(['New York', 'Chicago', 'Toronto', 'Rio'], dtype='object'))